input:checked + .slider {
    background-color: #ffb155;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffb155;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    background-clip: content-box;
    background-color: #ffb155;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #d6dee1;
}

.dish-button {
    border: 2px solid #e1e1e1;
    flex-direction: column;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
}

.dish-button:hover {
    background-color: #8f9d7eab;

    & :nth-child(6) {
        color: #f3f3f3;
    }
}

.theme-color {
    color: #ffb155;
}

.b-weight {
    font-weight: bold;
}

.plus {
    font-size: 30px;
    position: absolute;
    align-self: flex-end;
    transform: translateY(-7.5px);
}

.switch {
    width: 60px;
    height: 34px;
    position: relative;
    display: inline-block;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
    position: absolute;
    background-color: #ccc;
    -webkit-transition: .4s;
}

.slider:before {
    left: 4px;
    width: 26px;
    bottom: 4px;
    content: "";
    height: 26px;
    transition: .4s;
    position: absolute;
    background-color: white;
    -webkit-transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.trash-can {
    border: none;
    color: orange;
    cursor: pointer;
    padding: 2.5px 5px 0 5px;
    box-shadow: 2px 2px 2px orange;

    &:hover {
        background-color: rgba(255, 155, 0, 0.355);
    }
}

.order-now:hover {
    color: rgb(255, 155, 0);
    border-color: rgb(255, 155, 0);
    text-shadow: 1px 1px 1px #cccccc;
    background-color: rgba(255, 155, 0, 0.355) !important;
}