footer {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #bfb8af;
    transform: translateY(-100px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & div a img {
        width: 35px;
    }

    & div a img:hover {
        backdrop-filter: sepia(100%);
        border-radius: 100%;
    }
}