header {
    z-index: 1;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #ffb155;
    justify-content: space-between;

    & * {
        padding: 10px;
    }
}

menu {
    display: flex;
    color: #ffffff;
    margin-right: 10px;

    & div {
        &:nth-child(1) {
            transform: rotate(90deg);
            cursor: pointer;
            font-size: 20px;
            display: none;
            width: 15px;
            padding: 0;
            margin: 0;
        }

        &:nth-child(2) {
            font-weight: 600;
        }
    }
}

#bestellapp {
    height: 100%;
    width: max-content;
}