main {
    display: flex;
    justify-content: center;
}

main div {
    display: flex;
}

nav {
    margin: 10px 0;
    padding: 10px 0;
    background: rgba(230, 221, 218, 0.51);

    & div > * {
        margin-right: 10px;
        color: unset;
    }

    & div > *:hover {
        color: #ffb155;
    }
}

#main-wrapper {
    width: 100%;
    max-width: 1920px;
}

#hero {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

#logo {
    top: 135px;
    width: 125px;
    height: 125px;
    object-fit: cover;
    align-self: center;
    position: absolute;
    border-radius: 100%;
}

#content {
    flex: 5 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

    & h1 {
        padding: 5px 0;
    }

    & p {
        padding: 5px 0;
    }
}

#order-received {
    background-color: #ff980023;
    height: 250px;
    font-size: 4rem;
    width: 55.7%;
    position: fixed;
    top: 35%;
    left: 22.5%;
    align-items: center;
    justify-content: center;
}

.course {
    flex-direction: column;

    & img {
        height: 75px;
        width: 100%;
        object-fit: cover;
    }

    & h2 {
        margin-bottom: 15px;
    }
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow {
    border: solid #ffb155;
    border-width: 0 9px 9px 0;
    padding: 4px;
    border-radius: 100%;
}

.line-separator {
    margin: 10px 0;
    height: 0;
    width: 100%;
    border: 1px solid #f2eeec;
}