@media (max-width: 428px) {
    #logo {
        right: 10%;
    }
}

@media (max-width: 470px) {
    output {
        width: 100% !important;
    }

    #logo {
        top: 145px !important;
        width: 100px !important;
        height: 100px !important;
    }

    .dish-button {
        span {
            &:nth-child(4) {
                max-width: 250px;
            }
        }
    }
}

@media (max-width: 660px) {
    header {
        position: fixed !important;
        width: 100%;

        & menu {
            div {
                display: none;

                &:nth-child(1) {
                display: unset;
                }
            }
        }
    }

    main {
        padding-top: 50px;
    }

    #basket {
        position: fixed !important ;
        top: 50px !important ;
        background: #ffffff;
        display: none;
        width: 100%;
        z-index: 1;
    }

    #basket-container {
        max-height: calc(100vh - 100px) !important;
    }

    #order-received {
        z-index: 20;
        text-align: center;
        top: 45% !important;
        height: 100px !important;
        font-size: 28px !important;
    }
}

@media (max-width: 850px) {
    h1, h2 {
        font-size: 20px;
    }

    span, p, a, output {
        font-size: 12px;
    }

    .sum-wrapper {
        font-size: 12px;
    }
}

@media (max-width: 936px) {
    #delivery-toggle {
        flex-direction: column;
        align-items: flex-start !important;

        & p {
          margin-top: 5px;
        }
    }
}